@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }
body{
	font-size: 100%;
    font-size: 16px;
    font-size: 1em;
	max-width:100%;
	min-width:320px; 
	margin:auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
img:not([src*="/"]){display:none;}
img {
max-width: 100%;
height: auto;
}


a img { border: 0; }

ul,li{list-style: none;}

.container {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	min-height:100%;
}
/* header start */
#header {
	position:relative;
	width: 100%;
	height:auto;
}
.headerBox{
	width: 100%;
	height: 930px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.headerNav{
	width: 100%;
	height: 160px;
	background-image: url(../images/nav_bg.png)
}
.headerNavWidthBox{
	width: 1280px;
	height: 160px;
	margin: 0 auto;

}
.headerNavLeftBox{
	float: left;
	width: 30%;
	height: 160px;

}
.headerNavLeftLogo{
	float: left;
	width: 116px;
	height: 160px;
}
.headerNavRightBox{
	float: left;
	width: 70%;
	height: 112px;

	padding-top: 48px;
}
.headerNavRightTop{
	width:100%;
	height: 34px;
	padding-bottom: 18px;

}
.headerNavRightTop a{
	float: right;
	width: 82px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	background-color: #E05E9E;
	border-radius: 17px;
	border: 2px solid #E05E9E;

	text-decoration: none;
	letter-spacing: 6px;
	padding-left: 6px;
	margin-left: 12px;

}
.headerNavRightBottom{
	width: 100%;
	height: 14px;
}
.headerNavRightBottom li{
	float: right;
	width: auto;
	height: 14px;
	line-height: 14px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	margin-left: 56px;

}



/* header end */

/* content start */
#content{
	position:relative;
	width:100%;
	height:auto;
}
.contentBox{
	width:100%;
	height: 2500px;
	background-color: #FAE0E9;
}

/* content end */
/* footer start */
#footer{
	position:relative;
	width:100%;
	height:auto;
}
.footerBox{
	width: 100%;
	height: 870px;

}
/* footerTop start */
.footerTopBox{
	width: 100%;
	height: 490px;
	background-color: #F7CFDF;
	border-bottom: 1px solid #FAE0E9
}
.footerTopWidthBox{
	width: 1400px;
	height: 490px;
	margin: 0 auto;

}
.footerTopTitle{
	height: 56px;
	width: 100%;
	padding-top: 70px;
	
	font-family: "Myriad Pro";
	font-size: 60px;
	color: #E05E9E;
	line-height: 56px;
	text-align: center;
	margin-bottom: 42px;
}
.footerTopGroup{
	height: 234px;
	width: 100%;
}
.footerTopGroupTop{
	height: 100px;
	width: 1316px;
	padding-left: 42px;
	padding-right: 42px;
	margin-bottom: 30px;

}
.footerTopGroupTopImg{
	float: left;
	height: 100px;
	width: 240px;
	margin-right: 29px;
}
.footerTopGroupBottom{
	height: 100px;
	width: 1044px;
	padding-left: 178px;
	padding-right: 178px;

}
.footerTopGroupBottomImg{
	float: left;
	height: 100px;
	width: 240px;
	margin-right: 28px;
}

/* footerTop end */

/* footerBottom start */
.footerBottomBox{
	width: 100%;
	height: 380px;
	background-color:#E05E9E;
}
.footerBottomWidthBox{
	width: 1400px;
	height: 380px;
	margin: 0 auto;
}
.footerBottomLeftBox{
	float: left;
	width: 642px;
	height: 295px;
	padding-left: 58px;
	padding-top: 85px;
}

.footerBottomLeftLogo{
	height: 86px;
	width: 100%;
	margin-bottom: 20px;
}
.footerBottomLeftLogoImg{
	height: 86px;
	width: 64px;
}
.footerBootomLeftText{
	height: auto;
	width: 100%;
}
.footerBootomLeftTextNav{
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
}
.footerBootomLeftTextNav li{
	float: left;
	height: 15px;
	width: auto;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #ffffff;
	line-height: 15px;
	margin-left: 15px;
	padding-right: 12px;
	border-right: 1px solid #ffffff;
}
.footerBootomLeftTextNav li a{
	color: #ffffff;
	text-decoration: none;
}

.footerBootomLeftTextCopyRights{
	height: 15px;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
}

.footerBottomRightBox{
	float: left;
	width: 650px;
	height: 295px;
	padding-left: 50px;
	padding-top: 85px;
}
.footerBottomRightMeun{
	float: left;
	width: 146px;
	height: auto;
	margin-right: 62px;
}
.footerBottomRightMeunTitle{
	height: 14px;
	width: 146px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	padding-bottom: 16px;
	border-bottom: 2px solid #ffffff;

	margin-bottom: 20px;
}
.footerBottomRightMeunContent{
	height: auto;
	width: 200px;

}
.footerBottomRightMeunContent li{
	height: 14px;
	width: auto;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	line-height: 14px;
	margin-bottom: 15px;

}
.footerBottomRightMeunContent li a{
	color: #ffffff;
	text-decoration: none;

}
/* footerBottom end */
/* footer end */

